li {
    font-size: 20px;
    color: darkolivegreen;
}
h3 {
    padding-left: 75px;
    margin-bottom: 30px;
}
h4 {
    margin-top: 60px;
}
.div {
    width: 50%;
}
input {
    width: 80%;
    float: right;
}
.komp-p {
    margin-bottom: 25px;
    padding-left: 53%;
}
#btnReset {
    margin-left: 37%;
    margin-top: 45px;
    margin-bottom: 50px;
    display: none;
}
.skor {
    visibility: hidden;
}